# Disable big data content from git
/vendor/
/node_modules/
npm-debug.log
gulpfile.js

# Allow this to hide the enviroment to github
.env

# Ignore Mac DS_Store files
.DS_Store

# Ignore Public Assets
.sass-cache
/public/build/
/public/build/*
/public/build/*/*
/public/css/
/public/css/*
/public/css/*/*
/public/js/
/public/js/*
/public/js/*/*
/public/img/u/*
/public/img/b/*
/public/img/a/*

# Ignore bower_components
# bower_components

############################################
## PHP Storm and others temporal files
############################################

## Directory-based project format:
.idea/
# if you remove the above rule, at least ignore the following:

# User-specific stuff:
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries

# Sensitive or high-churn files:
.idea/dataSources.ids
.idea/dataSources.xml
.idea/sqlDataSources.xml
.idea/dynamic.xml
.idea/uiDesigner.xml

# Gradle:
.idea/gradle.xml
.idea/libraries

# Mongo Explorer plugin:
.idea/mongoSettings.xml